# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
# exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  GenomicAlignments,
  GenomicRanges,
  utils
)
importFrom(ExperimentHub, createHubAccessors)
importFrom(utils, download.file)
importFrom(utils, unzip)
importFrom(utils, read.csv)
